<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cinema</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <h1>Welcome to Cinema</h1>
        {% if session['username'] %}
        <div>
            <span>Logged in as: {{ session['username'] }} ({{ session['user_role'] }})</span>
            <a href="{{ url_for('logout') }}">
                <button>Logout</button>
            </a>
        </div>
        {% endif %}
    </header>
    <main>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="flash">
                {{ messages[0] }}
            </div>
            {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </main>
</body>
</html>

